#film-section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 5rem;
}
.film{
    width: 25rem;
    height: 25rem;
    margin-top: 2rem;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid var(--special-color);
    transition: 1s;
}
.film:hover{
    background-color: var(--special-color);
}
.film__title{
    padding: 16px;
    text-align: center;
}
.film__img{
    width: 100%;
    border-radius: 8px;
}
.film__description{
    text-align: center;
    padding: 16px;
}
.add-form__btn{
    align-self: center;
    margin-right: 8px;
    margin-bottom: 30px;
    margin-top: 30px;
}