<section class="section add">
  <div class="add-container">
    <div class="add-container__add">
      <h1>AGGIUNGI FILM</h1>
      <button class="btn btn--alternative-2" routerLink="/add-film" router>Aggiungi</button>
    </div>

    <div class="add-container__add"> 
      <h1>AGGIUNGI PROGRAMMAZIONE</h1>
      <button class="btn btn--alternative-2" routerLink="/add-scheduling">Aggiungi</button>
    </div>

    <div class="add-container__add">
      <h1>AGGIUNGI SALA</h1>
      <button class="btn btn--alternative-2" routerLink="/add-hall">Aggiungi</button>
    </div>
  </div>
</section>
