<section class="section" id="film-section">
    <article *ngFor="let film of films" class="film">
      <h2 class="film__title">{{film.name}}</h2>
      <img class="film__img" [src]="film.imageUrl" alt="" />
      <p class="film__description">
        {{film.description}}
      </p>

      <div class="btn-container">
        <button  routerLink="/details" type="submit" class="add-form__btn btn btn--alternative" (click) = "filmService.setSelectedFilm(film)">Dettaglio</button>
        <button type="submit" class="add-form__btn btn" routerLink="/reservation">Prenota</button>
      </div>
    </article>
   
  </section>