#film-section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.film{
    width: 28rem;
    height: 34rem;
    margin-top: 2rem;
    border-radius: 8px;
    border: 2px solid var(--secondary-color);
    transition: 1s;
}
.film:hover{
    border-color: var(--special-color);

}
.film__title{
    padding: 16px;
    text-align: center;
}
.film__img{
    width: 100%;
    max-height: 20rem;
}
.film__description{
    text-align: center;
    padding: 16px;
}
.btn-container{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    
}


.display-message{
    background-color: #ff0000e3;
    position: absolute;
    right: 16px;
    position: absolute;
    bottom: 60px;
    right: 51px;
    width: 145px;
    height: 93px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    transition: 1s;
}

.display-message--disable{
    display: none;
}


