<section class="section" id="film-section">
    <article *ngFor="let film of films; let index = index" class="film">
      <h2 class="film__title">{{film.name}}</h2>
      <img class="film__img" [src]="film.imageUrl" alt="" />
      <p class="film__description">
        {{film.description}}
      </p>

      <div class="btn-container">
        <button [routerLink]="['/details', film.filmId]" type="submit" class="add-form__btn btn btn--alternative" (click) = "filmService.setSelectedFilm(film)">Dettaglio</button>
       
        <div [ngClass]="['display-message',( !isOver[index] && !isLogged) ? 'display-message--disable' : '']" >
          <span>Effettua il Login per prenotare</span>
        </div>
        <button [disabled]="!isLogged" (mouseover) ="showMessage(index)" (mouseout)="hideMessage(index)" [routerLink]="['/reservation', film.filmId]" type="submit" class="add-form__btn btn"  (click) = "filmService.setSelectedFilm(film)">Prenota</button>
      </div>
    </article>
   
  </section>