<section class="section" id="film-section">
    <article *ngFor="let film of films" class="film">
      <h2 class="film__title">{{film.title}}</h2>
      <img class="film__img" src="../../assets/prova.jpg" alt="" />
      <p class="film__description">
        {{film.description}}
      </p>

      <div>
        <a routerLink="/reservation"><button  type="submit" class="add-form__btn btn ">Prenota</button></a>
    <a routerLink="/dettaglio-film"><button  class="add-form__btn btn ">Dettaglio</button></a>
    
    </div>
    </article>
   
  </section>