#film-section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.film{
    width: 25rem;
    height: 30rem;
    margin-top: 2rem;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid var(--secondary-color);
    transition: 1s;
}
.film:hover{
    border-color: var(--special-color);

}
.film__title{
    padding: 16px;
    text-align: center;
}
.film__img{
    width: 100%;
}
.film__description{
    text-align: center;
    padding: 16px;
}
.btn-container{
    display: flex;
    justify-content: space-evenly;
}







