<section class="section manage">
    <div class="manage-container">
      <div class="manage-container__manage">
        <h1>AGGIUNGI FILM</h1>
        <button class="btn btn--alternative-2" routerLink="/add-film" router>Aggiungi</button>
      </div>
  
      <div class="manage-container__manage"> 
        <h1>AGGIUNGI PROGRAMMAZIONE</h1>
        <button class="btn btn--alternative-2" routerLink="/add-scheduling">Aggiungi</button>
      </div>
  
      <div class="manage-container__manage">
        <h1>AGGIUNGI SALA</h1>
        <button class="btn btn--alternative-2" routerLink="/add-hall">Aggiungi</button>
      </div>
    </div>
  </section>
  