<section class="section">
    <div class="manage-container">
      
      <div routerLink="/add-film" class="manage manage-add">Aggiungi Film</div>
 
      <div routerLink="/add-scheduling" class="manage manage-add"> Aggiungi Programmazione </div>
  
      <div routerLink="/add-hall" class="manage manage-add">Aggiungi Sala</div>

      <div  class="manage manage-update">Modifica Film</div>
 
      <div class="manage manage-update"> Modifica Programmazioni </div>
  
      <div  class="manage manage-update">Modifica Sale</div>


      <div  class="manage manage-delete">Elimina Film</div>
 
      <div  class="manage manage-delete"> Elimina Programmazioni </div>
  
      <div  class="manage manage-delete">Elimina Sale</div>
    </div>
  </section>
  