


<div class="section" id="scheduling-section">
    <h1 class="scheduling-title">Prenota</h1>
    <p class="prenotation-text">Prenota il tuo biglietto. Alla decima prenotazione, il successivo verrà offerto da noi</p>

    <div class="schedulings">
        
        <article class = "scheduling" *ngFor="let scheduling of schedulings" (click) ="prenotation(scheduling)" >
            <div class="scheduling__img-container">
                <img class="scheduling__img" [src]="scheduling.filmDTO.imageUrl" alt="">
            </div>
            <div>
                <p>{{scheduling.hallDTO.name}}</p>
                <p>{{scheduling.startTime}}</p>
            </div>
            <div>
                <p> €{{scheduling.filmDTO.price + scheduling.hallDTO.price}}</p>
            </div>
          </article>

    </div>
</div>




