#user-section {
  display: flex;
  justify-content:space-around;
  align-items: center;
  height: 100vh;
  font-size: 1.1rem; 

}

.user-details-container {
  
  border:3px solid var(--special-color);
  border-radius: 5px;
  padding: 20px;
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}


.user-details-container p:first-child {
  font-weight: bold;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

#currentIllo {
  width: 300px;
  height: auto;
  margin-left: 50px;
}
.user__detail{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.user__detail__property-name{
  color: var(--alternative-color-2);
}