<section class="home-section section" [class.home-section-effect]="isHovered">
  <div class="hero">
    <h1 class="hero__title">IL MIGLIOR CINEMA NELLA TUA ZONA</h1>
    <p class="hero__paragraph">
      Tutti i film appena usciti, con la qualità migliore al prezzo
      migliore.
    </p>
    <div class="hero__cta-container">
      <button class="btn hero__cta" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()" (click)="onClickHandler()">VAI
        AL CATALOGO</button>
    </div>
  </div>
</section>

<div class="container ">
  <div class="div1 ">

    <h3 class="titolo-card special-text">FESTEGGIA IL TUO COMPLEANNO CON NOI</h3>
    <p class="titolo-card">
      Sconto sui pop corn del 50% per tutto il gruppo
    </p>
  </div>
  <div class="div2">
    <div class="card">
      <div >
        <img  class="card__first1 " src="https://media.istockphoto.com/id/1322837051/it/vettoriale/buon-compleanno-bellissimo-poster-del-biglietto-dauguri-con-calligrafia-testo-nero-word.jpg?s=612x612&w=0&k=20&c=JVgEz_ypXIuqirR6NfwtWc9BQJydrjJ_eCSpHFtLTeI=" alt="">
      </div>
      <div class="card__second"></div>
    </div>
  </div>


  <div class="div2">
    <div class="card">
      <div >
        <img  class="card__first1 " src="https://previews.123rf.com/images/bsd555/bsd5551911/bsd555191104177/134469469-icona-del-glifo-con-accesso-per-sedia-a-rotelle-accessibile-ai-portatori-di-handicap-strutture-per.jpg" alt="">
      </div>
      <div class="card__second"></div>
    </div>
  </div>
  <div class="div1">

    <h3 class="titolo-card special-text">ACCESIBILE PER TUTTI</h3>
    <p class="titolo-card">
      La nostra struttura è organizzata in modo da garantire l'accesso a chiunque voglio passare una serata diversa
    </p>
  </div>
</div>



<div class="container">
  <div class="div1">

    <h3 class="titolo-card special-text">GIORNI DI APERTURA</h3>
    <p class="titolo-card">
      Siamo aperti dal lunedi alla domenica, dalle ore<br>
      18.30 alle<br>
      00.30

    </p>
  </div>
  <div class="div2">
    <div class="card">
      <div >
        <img  class="card__first1 " src="https://www.yoshinryu.com/sites/default/files/articles/calendar.png" alt="">
      </div>
      <div class="card__second"></div>
    </div>
  </div>


  <div class="div2">
    <div class="card">
      <div >
        <img  class="card__first1 " src="https://wiki.bamboomt2.eu/images/b/b3/Info.png" alt="">
      </div>
      <div class="card__second"></div>
    </div>
  </div>
  <div class="div1">

    <h3 class="titolo-card special-text">INFORMAZIONI</h3>
    <p class="titolo-card">
      Per qualsiasi informazione <br>
      inviare un email <a href="">cinema@example.com</a><br>
      o contattare il seguente numero <a href="">334-237-6545</a> 

    </p>
  </div>
</div>