.home-section{
    display: flex;
    justify-content: center;
    padding: 0;
    background-image: url("../../assets/home.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 10px 37px 48px 3px black;
    max-width: none;
    z-index: -1;
}
.home-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(7, 7, 7, 0.6), rgba(0, 0, 0, 0.6)); /* Definisce una sfumatura bianca con opacità 0.6 */
}
.home-section-effect::before{
    background : none;
}
/* HERO */
.hero{
    display: flex;
    flex-direction: column;
    align-content: center;
    z-index: 2;
}
.hero__title{
    color: var(--alternative-color-2);
    text-align: center;
    font-size: 64px;
    margin-top: 5rem;
}
.hero__paragraph{
    text-align: center;
    font-style: italic;
    margin-top: 1rem;
    font-size: 18px;
}
.hero__cta-container{
    align-self: center;
    margin-top: 3rem;
}
.hero__cta{
    background: transparent;
    border: 2px solid var(--special-color);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition:  1s;
}

.card{
    width: 100%;
    height: 30rem;
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    display: flex;
    margin-bottom: 3rem;
}

.card:nth-child(2){
    flex-direction: row-reverse;
}

.card:nth-child(4){
    flex-direction: row-reverse;
}
.card__first{
    background-color: var(--special-color-box);
    width: 100%;
    height: 100%;
}
.card__first1{
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 100%;
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 40px;
}


.card__second{
    background-color: black;
    width: 100%;
    height: 100%;
}

.btn:hover  .home-section{
    background: blue !important; 
}
.titolo-card{
     position: relative;
     top: 100px;
     margin-left: 40px;
     margin-right: 40px;
     font-size: 30px;
     margin-bottom: 15px;
     
     
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .sfondo-container{
    background-image: url("https://img.freepik.com/free-vector/dark-detailed-grunge-style-texture_1048-15605.jpg?size=626&ext=jpg&ga=GA1.1.386372595.1698019200&semt=ais");
 background-repeat: no-repeat;
  }
  