<section class="home-section section" [class.home-section-effect]="isHovered">
  <div class="hero">
    <h1 class="hero__title">IL MIGLIOR CINEMA NELLA TUA ZONA</h1>
    <p class="hero__paragraph">
      Tutti i film appena usciti, con la qualità migliore al prezzo
      migliore.
    </p>
    <div class="hero__cta-container">
      <button class="btn hero__cta" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()"  (click)="onClickHandler()">VAI AL CATALOGO</button>
    </div>
  </div>
</section>

<section class="section">
  <h1>sezione 2</h1>

  <div class="card">
    <div class="card__first">
      <h3>CARD TITLE</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia
        porro libero modi, nobis delectus aut debitis quisquam expedita
        distinctio nemo at qui aliquam neque repudiandae.
      </p>
    </div>
    <div class="card__second"></div>
  </div>
  <div class="card">
    <div class="card__first">
      <h3>CARD TITLE</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia
        porro libero modi, nobis delectus aut debitis quisquam expedita
        distinctio nemo at qui aliquam neque repudiandae.
      </p>
    </div>
    <div class="card__second"></div>
  </div>

  <div class="card">
    <div class="card__first">
      <h3>CARD TITLE</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia
        porro libero modi, nobis delectus aut debitis quisquam expedita
        distinctio nemo at qui aliquam neque repudiandae.
      </p>
    </div>
    <div class="card__second"></div>
  </div>

  <div class="card">
    <div class="card__first">
      <h3>CARD TITLE</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia
        porro libero modi, nobis delectus aut debitis quisquam expedita
        distinctio nemo at qui aliquam neque repudiandae.
      </p>
    </div>
    <div class="card__second"></div>
  </div>
</section>

<section class="section">
  <h1>sezione 3</h1>
</section>